@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0a0a0a;*/
/*        --foreground: #ededed;*/
/*    }*/
/*}*/

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Roboto, Roboto Light, Helvetica, sans-serif;
}

p {
    /*font-family: Roboto Light, Helvetica, sans-serif;*/
    /*font-weight: normal;*/
}

.texto-limitado {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*-webkit-line-clamp: 4; !* Cambia este número al número máximo de líneas deseadas *!*/
    overflow: hidden;
    /*min-height: calc(4 * 1.5em); !* Ajusta la altura mínima según el tamaño de la línea *!*/
}

/* styles/globals.css */

.embla {
    overflow: hidden;
    margin-right: -80px;
    margin-left: -80px;
}

.embla__container {
    display: flex;
    gap: 24px;
    /*height: 400px;*/
    /*position: absolute;*/
    align-items: center;
    justify-content: space-between;
    top: 322px;

}

.embla__slide {
    min-width: calc(100% / 4); /* Mostrar 3 elementos */
    background-color: #FFFFFF; /* Cambia el color o agrega imágenes */
    align-items: start;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    box-shadow: 0 10px 15px -3px #0000001A;

}

/* Agregar padding lateral para evitar que se vean pegados */
.embla__slide:first-child {
    margin-left: 12px; /* Espacio a la izquierda del primer slide */
}

.embla__slide:last-child {
    margin-right: 12px; /* Espacio a la derecha del último slide */
}


/* Ajustes para pantallas medianas (md) */
@media (max-width: 768px) {
    .embla__slide {
        min-width: calc(100% / 1.75); /* Mostrar 3 elementos en pantallas medianas */
    }
}

